@import './base.css';

#app {
  max-width: 1440px;
  margin: 10px -20px;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  color: rgb(0, 0, 0);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 100%, 26%, 0.411);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
